<script setup>
import { ChevronDownIcon, MagnifyingGlassIcon } from "@heroicons/vue/20/solid/index.js"
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue"
import { Bars3Icon, BellIcon } from "@heroicons/vue/24/outline/index.js"
import { computed, defineModel } from "vue"
import { useNavigation } from "../../Composables/useNavigation.js"
import { Link, usePage } from "@inertiajs/vue3"

/*
 * States
 * ========================================================================================
 * */
const modelValue = defineModel()
const { userNavigation } = useNavigation()
const page = usePage()
const user = computed(() => {
  return page.props.user
})
</script>

<template>
  <div class="sticky top-0 z-40 lg:mx-auto lg:px-8">
    <div class="flex h-16 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-0 lg:shadow-none">
      <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" @click="modelValue = true">
        <Bars3Icon class="h-6 w-6" aria-hidden="true" />
      </button>

      <div class="h-6 w-px bg-gray-200 lg:hidden" aria-hidden="true" />

      <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
        <form class="relative flex flex-1" action="#" method="GET">
          <MagnifyingGlassIcon class="pointer-events-none absolute inset-y-0 left-0 h-full w-5 text-gray-400" aria-hidden="true" />
          <input id="search-field" class="block h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Search..." type="search" name="search" />
        </form>
        <div class="flex items-center gap-x-4 lg:gap-x-6">
          <button type="button" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500">
            <BellIcon class="h-6 w-6" aria-hidden="true" />
          </button>

          <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-200" aria-hidden="true" />

          <Menu as="div" class="relative">
            <MenuButton class="-m-1.5 flex items-center p-1.5">
              <img
                class="h-8 w-8 rounded-full bg-gray-50"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
              <span class="hidden lg:flex lg:items-center">
                <span class="ml-4 text-sm font-semibold leading-6 text-gray-900" aria-hidden="true">{{ user.name }}</span>
                <ChevronDownIcon class="ml-2 h-5 w-5 text-gray-400" aria-hidden="true" />
              </span>
            </MenuButton>
            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems class="absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none">
                <template v-for="item in userNavigation" :key="item.name">
                  <MenuItem v-if="item.method === 'GET'" v-slot="{ active }">
                    <Link :href="item.href" :class="[active ? 'bg-gray-50' : '', 'block px-3 py-1 text-sm leading-6 text-gray-900']">
                      {{ item.name }}
                    </Link>
                  </MenuItem>
                  <MenuItem v-if="item.method === 'POST'" v-slot="{ active }">
                    <Link :href="item.href" method="POST" as="button" :class="[active ? 'bg-gray-50' : '', 'w-full text-left px-3 py-1 text-sm leading-6 text-gray-900']">
                      {{ item.name }}
                    </Link>
                  </MenuItem>
                </template>
              </MenuItems>
            </transition>
          </Menu>
        </div>
      </div>
    </div>
  </div>
</template>
