<script setup>
import { useNavigation } from "../../Composables/useNavigation.js"
import ApplicationLogoMark from "../../Components/Shared/ApplicationLogoMark.vue"
import { Link } from "@inertiajs/vue3"

/*
 * States
 * ========================================================================================
 * */
const { navigation, referensi } = useNavigation()

console.log("bottup")
</script>

<template>
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4">
      <div class="flex h-16 shrink-0 items-center">
        <ApplicationLogoMark class="h-8 w-auto" />
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li v-for="item in navigation" :key="item.name">
                <Link
                  :href="item.href"
                  :class="[item.current ? 'bg-gray-50 text-indigo-600' : 'text-gray-700 hover:text-indigo-600 hover:bg-gray-50', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold']"
                >
                  <component :is="item.icon" :class="[item.current ? 'text-indigo-600' : 'text-gray-400 group-hover:text-indigo-600', 'h-6 w-6 shrink-0']" aria-hidden="true" />
                  {{ item.name }}
                </Link>
              </li>
            </ul>
          </li>
          <li>
            <div class="text-xs font-semibold leading-6 text-gray-400">Referensi</div>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
              <li v-for="item in referensi" :key="item.name">
                <Link
                  :href="item.href"
                  :class="[item.current ? 'bg-gray-50 text-indigo-600' : 'text-gray-700 hover:text-indigo-600 hover:bg-gray-50', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold']"
                >
                  <span
                    :class="[
                      item.current ? 'text-indigo-600 border-indigo-600' : 'text-gray-400 border-gray-200 group-hover:border-indigo-600 group-hover:text-indigo-600',
                      'flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white'
                    ]"
                    >{{ item.initial }}</span
                  >
                  <span class="truncate">{{ item.name }}</span>
                </Link>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
