<script setup>
import ModuleLayout from "../../../Layouts/ModuleLayout.vue"
</script>

<template>
  <ModuleLayout>
    <Head>
      <title>Notifikasi</title>
    </Head>
    <section>
      <h1>Module Notifikasi</h1>
    </section>
  </ModuleLayout>
</template>
