<script setup>
import ModuleLayout from "../../../Layouts/ModuleLayout.vue"
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue"
import { ChevronDownIcon, DocumentMagnifyingGlassIcon, EllipsisVerticalIcon, TrashIcon } from "@heroicons/vue/20/solid/index.js"
import { useFilters } from "../../../Composables/useFilters.js"
import SearchBox from "../../../Components/Shared/SearchBox.vue"
import SimplePagination from "../../../Components/Shared/SimplePagination.vue"
import DetailNotification from "../../../Components/DetailNotification.vue"
import { ref } from "vue"
import ScheduleMonevData from "../../../Components/ScheduleMonevData.vue"

/*
 * Props
 * ========================================================================================
 * */
const props = defineProps({
  notifications: {
    type: Object,
    required: true
  },
  filters: {
    type: Object,
    required: true
  }
})

/*
 * States
 * ========================================================================================
 * */
const { filters: filter } = useFilters(props.filters, route("modules.notifications.schedule"))
const dialogNotification = ref({
  viewDetail: false,
  creatMonevData: false,
  notificationData: null
})

/*
 * Handlers
 * ========================================================================================
 * */
const handleViewDetail = (notification) => {
  dialogNotification.value.viewDetail = true
  dialogNotification.value.notificationData = notification
}
</script>

<template>
  <ModuleLayout>
    <Head>
      <title>Jadwal Akreditasi</title>
    </Head>
    <div class="sm:flex sm:items-center mt-5">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Notifikasi</h1>
        <p class="mt-2 text-sm text-gray-700">Seluruh notifikasi yang telah terjadwalkan.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button
          @click="() => (dialogNotification.creatMonevData = true)"
          type="button"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Jadwalkan Monev Data
        </button>
      </div>
    </div>
    <div class="mt-8">
      <div class="max-w-sm mb-2">
        <SearchBox v-model="filter.search" />
      </div>
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  <button @click="filter.sort = 'name'" class="group inline-flex">
                    Nama Unit
                    <span :class="[filter.sort === 'name' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'type'" class="group inline-flex">
                    Tipe Notifikasi
                    <span :class="[filter.sort === 'type' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'status'" class="group inline-flex">
                    Status
                    <span :class="[filter.sort === 'status' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'due_date'" class="group inline-flex">
                    Jadwal Pengiriman
                    <span :class="[filter.sort === 'due_date' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-0"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr v-for="notification in notifications.data" :key="notification.id">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-0">{{ notification.accreditation.unit.name }} - {{ notification.accreditation.unit.degree }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-900">
                  {{ notification.type }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ notification.status }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{
                    new Date(notification.due_date).toLocaleDateString("id-ID", {
                      year: "numeric",
                      month: "long",
                      day: "numeric"
                    })
                  }}
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-0">
                  <Menu as="div" class="relative inline-block text-left">
                    <div>
                      <MenuButton class="flex items-center rounded-full bg-gray-100 text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
                        <EllipsisVerticalIcon class="h-6 w-6" aria-hidden="true" />
                      </MenuButton>
                    </div>

                    <transition
                      enter-active-class="transition ease-out duration-100"
                      enter-from-class="transform opacity-0 scale-95"
                      enter-to-class="transform opacity-100 scale-100"
                      leave-active-class="transition ease-in duration-75"
                      leave-from-class="transform opacity-100 scale-100"
                      leave-to-class="transform opacity-0 scale-95"
                    >
                      <MenuItems class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1">
                          <MenuItem v-slot="{ active }">
                            <button @click="() => handleViewDetail(notification)" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group w-full flex items-center px-4 py-2 text-sm']">
                              <DocumentMagnifyingGlassIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Lihat
                            </button>
                          </MenuItem>
                          <MenuItem v-slot="{ active }">
                            <button :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group w-full flex items-center px-4 py-2 text-sm']">
                              <TrashIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Hapus
                            </button>
                          </MenuItem>
                        </div>
                      </MenuItems>
                    </transition>
                  </Menu>
                </td>
              </tr>
            </tbody>
          </table>
          <SimplePagination :prev="notifications.prev_page_url" :next="notifications.next_page_url" :total="notifications.total" :to="notifications.to" :from="notifications.from" />
        </div>
      </div>
    </div>
    <DetailNotification :notification="dialogNotification.notificationData" v-model="dialogNotification.viewDetail" />
    <ScheduleMonevData v-model="dialogNotification.creatMonevData" />
  </ModuleLayout>
</template>
