<script setup>
import ModuleLayout from "../../../../Layouts/ModuleLayout.vue"
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue"
import { ChevronDownIcon, DocumentMagnifyingGlassIcon, EllipsisVerticalIcon, TrashIcon } from "@heroicons/vue/20/solid/index.js"
import { useFilters } from "../../../../Composables/useFilters.js"
import SearchBox from "../../../../Components/Shared/SearchBox.vue"
import SimplePagination from "../../../../Components/Shared/SimplePagination.vue"
import { useConfirmDialog } from "@vueuse/core"
import { reactive, watch } from "vue"
import ConfirmationDelete from "../../../../Components/Shared/ConfirmationDelete.vue"
import { router } from "@inertiajs/vue3"
import { usePush } from "notivue"
import DetailAccreditation from "../../../../Components/DetailAccreditation.vue"
import AlertInactiveAccreditation from "../../../../Components/AlertInactiveAccreditation.vue"
import RecordNewAccreditation from "../../../../Components/RecordNewAccreditation.vue"

/*
 * Props
 * ========================================================================================
 * */
const props = defineProps({
  accreditations: {
    required: true,
    type: Object
  },
  filters: {
    required: true,
    type: Object
  },
  inActiveUnit: {
    required: true,
    type: Array
  }
})

/*
 * States
 * ========================================================================================
 * */
const push = usePush()
const { filters: filter } = useFilters(props.filters, route("modules.accreditations.live.index"))
const dialogAccreditation = reactive({
  selectedRowId: null,
  selectedData: null,
  isViewOpen: false,
  isCreateOpen: false
})
const { reveal, isRevealed, confirm, cancel, onCancel, onConfirm, onReveal } = useConfirmDialog()

/*
 * Handlers
 * ========================================================================================
 * */
onConfirm((id) => handleDeleteAccreditation(id))
onReveal((id) => (dialogAccreditation.selectedRowId = id))
onCancel(() => (dialogAccreditation.selectedRowId = null))
const handleDeleteAccreditation = (id) => {
  router.delete(route("modules.accreditations.live.destroy", { accreditation: id }), {
    preserveScroll: true,
    onSuccess: () => {
      dialogAccreditation.selectedRowId = null
      push.success("Akreditasi berhasil dihapus.")
    },
    onError: () => {
      push.error("Akreditasi gagal dihapus karena terjadi kesalahan.")
    }
  })
}

watch(
  () => dialogAccreditation.selectedRowId,
  (newValue) => {
    dialogAccreditation.selectedData = props.accreditations.data.find((accreditation) => accreditation.id === newValue)
  }
)
</script>

<template>
  <ModuleLayout>
    <Head>
      <title>Akreditasi Berjalan</title>
    </Head>
    <div>
      <AlertInactiveAccreditation v-if="inActiveUnit.length > 0" :total="inActiveUnit.length" />
    </div>
    <div class="sm:flex sm:items-center mt-5">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Akreditasi Aktif</h1>
        <p class="mt-2 text-sm text-gray-700">Seluruh akreditasi aktif yang ada di sistem.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button
          type="button"
          @click="dialogAccreditation.isCreateOpen = true"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Catat Akreditasi
        </button>
      </div>
    </div>
    <div class="mt-8">
      <div class="max-w-sm mb-2">
        <SearchBox v-model="filter.search" />
      </div>
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  <button @click="filter.sort = 'sk_number'" class="group inline-flex">
                    Nomor SK
                    <span :class="[filter.sort === 'sk_number' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'name'" class="group inline-flex">
                    Nama
                    <span :class="[filter.sort === 'name' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'grade'" class="group inline-flex">
                    Hasil Akreditasi
                    <span :class="[filter.sort === 'grade' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'validity_date'" class="group inline-flex">
                    Masa Berlaku
                    <span :class="[filter.sort === 'validity_date' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-0"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr v-for="accreditation in accreditations.data" :key="accreditation.email">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-0">
                  {{ accreditation.sk_number }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-900">
                  {{ accreditation.unit.name }} -
                  {{ accreditation.unit.degree }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ accreditation.grade }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{
                    new Date(accreditation.validity_date).toLocaleDateString("id-ID", {
                      year: "numeric",
                      month: "long",
                      day: "numeric"
                    })
                  }}
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-0">
                  <Menu as="div" class="relative inline-block text-left">
                    <div>
                      <MenuButton class="flex items-center rounded-full bg-gray-100 text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
                        <EllipsisVerticalIcon class="h-6 w-6" aria-hidden="true" />
                      </MenuButton>
                    </div>

                    <transition
                      enter-active-class="transition ease-out duration-100"
                      enter-from-class="transform opacity-0 scale-95"
                      enter-to-class="transform opacity-100 scale-100"
                      leave-active-class="transition ease-in duration-75"
                      leave-from-class="transform opacity-100 scale-100"
                      leave-to-class="transform opacity-0 scale-95"
                    >
                      <MenuItems class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1">
                          <MenuItem v-slot="{ active }">
                            <button
                              @click="
                                () => {
                                  dialogAccreditation.isViewOpen = true
                                  dialogAccreditation.selectedRowId = accreditation.id
                                }
                              "
                              :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group w-full flex items-center px-4 py-2 text-sm']"
                            >
                              <DocumentMagnifyingGlassIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Lihat
                            </button>
                          </MenuItem>
                          <MenuItem v-slot="{ active }">
                            <button @click="reveal(accreditation.id)" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group w-full flex items-center px-4 py-2 text-sm']">
                              <TrashIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Hapus
                            </button>
                          </MenuItem>
                        </div>
                      </MenuItems>
                    </transition>
                  </Menu>
                </td>
              </tr>
            </tbody>
          </table>
          <SimplePagination :prev="accreditations.prev_page_url" :next="accreditations.next_page_url" :total="accreditations.total" :to="accreditations.to" :from="accreditations.from" />
        </div>
      </div>
    </div>

    <RecordNewAccreditation v-model="dialogAccreditation.isCreateOpen" :in-active-unit="inActiveUnit" />

    <DetailAccreditation :accreditation="dialogAccreditation.selectedData" v-if="dialogAccreditation.isViewOpen" v-model="dialogAccreditation.isViewOpen" />

    <ConfirmationDelete @cancel="cancel" @confirm="() => confirm(dialogAccreditation.selectedRowId)" :is-revealed="isRevealed">
      <template #title>Hapus Akreditasi</template>
      <template #description>Apakah anda yakin ingin menghapus akreditasi ini? Ketika akreditasi aktif dihapus maka akreditasi tidak akan masuk ke dalam histori akreditasi pada unit tersebut. </template>
    </ConfirmationDelete>
  </ModuleLayout>
</template>
