<script setup>
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue"
import { Link, usePage } from "@inertiajs/vue3"
import Container from "../Components/Shared/Container.vue"
import { computed } from "vue"
import AuthLayout from "../Layouts/AuthLayout.vue"
import { useNavigation } from "../Composables/useNavigation.js"

/*
 * State
 * ========================================================================================
 * */
const { modulNavigation } = useNavigation()
const page = usePage()
const user = computed(() => {
  return page.props.user
})
</script>

<template>
  <AuthLayout>
    <Container>
      <Head>
        <title>Dashboard</title>
      </Head>
      <div class="flex justify-between gap-5">
        <div>
          <h2 class="text-2xl font-semibold leading-6 text-gray-900">Sistem Penjaminan Mutu</h2>
          <p class="mt-2 text-md text-gray-500">
            Halo selamat datang <span class="font-semibold">{{ user.name }}</span> di Sistem Penjaminan Mutu Widyatama.
          </p>
        </div>
        <Menu as="div" class="relative inline-block text-left flex-shrink-0">
          <div>
            <MenuButton class="flex items-center rounded-full text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
              <img
                class="h-10 w-10 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="Photo Profile"
              />
            </MenuButton>
          </div>

          <transition
            enter-active-class="transition ease-out duration-100"
            enter-from-class="transform opacity-0 scale-95"
            enter-to-class="transform opacity-100 scale-100"
            leave-active-class="transition ease-in duration-75"
            leave-from-class="transform opacity-100 scale-100"
            leave-to-class="transform opacity-0 scale-95"
          >
            <MenuItems class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
              <div class="py-1">
                <MenuItem v-slot="{ active }">
                  <Link :href="route('logout')" as="button" method="POST" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block w-full px-4 py-2 text-left text-sm']"> Logout </Link>
                </MenuItem>
              </div>
            </MenuItems>
          </transition>
        </Menu>
      </div>

      <ul role="list" class="mt-6 grid grid-cols-1 gap-6 border-b border-t border-gray-200 py-6 sm:grid-cols-2">
        <li v-for="(item, itemIdx) in modulNavigation" :key="itemIdx" class="flow-root">
          <div class="relative -m-2 flex items-center space-x-4 rounded-xl p-2 focus-within:ring-2 focus-within:ring-indigo-500 hover:bg-gray-50">
            <div :class="[item.background, 'flex h-20 w-20 flex-shrink-0 items-center justify-center rounded-lg']">
              <component :is="item.icon" class="h-10 w-10 text-white" aria-hidden="true" />
            </div>
            <div>
              <h3 class="text-lg font-medium text-gray-900">
                <Link :href="item.href" class="focus:outline-none">
                  <span class="absolute inset-0" aria-hidden="true" />
                  <span>{{ item.title }}</span>
                  <span aria-hidden="true"> &rarr;</span>
                </Link>
              </h3>
              <p class="mt-1 text-md text-gray-500">{{ item.description }}</p>
            </div>
          </div>
        </li>
      </ul>
    </Container>
  </AuthLayout>
</template>
