<script setup>
import Label from "./Shared/Label.vue"
import SelectInput from "./Shared/SelectInput.vue"
import InputText from "./Shared/InputText.vue"
import SlideoverForm from "./Shared/SlideoverForm.vue"
import { useForm } from "@inertiajs/vue3"
import { useEnumsData } from "../Composables/useEnumsData.js"
import { usePush } from "notivue"

/*
 * Macros
 * ========================================================================================
 * */
const modelValue = defineModel()
const props = defineProps({
  faculties: {
    required: true,
    type: Array
  },
  unit: {
    type: Object,
    required: true
  }
})

/*
 * States
 * ========================================================================================
 * */
const push = usePush()
const form = useForm({
  faculty_id: props.unit.faculty.id,
  name: props.unit.name,
  degree: props.unit.degree,
  email: props.unit.email
})
const { degrees } = useEnumsData()

/*
 * States
 * ========================================================================================
 * */
const handleSubmit = () => {
  form.put(route("modules.accreditations.unit.update", props.unit.id), {
    preserveScroll: true,
    onSuccess: () => {
      modelValue.value = false
      push.success("Data unit berhasil diperbarui.")
    },
    onError: () => {
      push.error("Data unit gagal diperbarui.")
    }
  })
}
</script>

<template>
  <SlideoverForm v-model="modelValue" @handle-submit="handleSubmit">
    <template #title>Perbarui Data Unit</template>
    <div class="space-y-3">
      <div>
        <Label for="faculty_id">Fakultas</Label>
        <SelectInput v-model="form.faculty_id" class="mt-1" name="faculty_id" id="faculty_id">
          <option name="faculty_id" :value="faculty.id" :id="faculty.id" v-for="faculty in faculties">
            {{ faculty.name }}
          </option>
        </SelectInput>
      </div>
      <div>
        <Label for="name">Nama Unit</Label>
        <InputText v-model="form.name" type="text" class="mt-1" name="name" id="name" />
      </div>
      <div>
        <Label for="degree">Jenjang</Label>
        <SelectInput v-model="form.degree" class="mt-1" name="degree" id="degree">
          <option name="degree" :value="degree.name" :id="degree.id" v-for="degree in degrees">
            {{ degree.name }}
          </option>
        </SelectInput>
      </div>
      <div>
        <Label for="email">Email Unit</Label>
        <InputText v-model="form.email" type="email" class="mt-1" name="email" id="email" />
      </div>
    </div>
    <template #button>Simpan</template>
  </SlideoverForm>
</template>
