<script setup>
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from "@headlessui/vue"
import { XMarkIcon } from "@heroicons/vue/24/outline"
import { PaperClipIcon } from "@heroicons/vue/20/solid"
import { usePush } from "notivue"
import InstitutionLogo from "./Shared/InstitutionLogo.vue"
import { useConfirmDialog } from "@vueuse/core"

/*
 * Macros
 * ========================================================================================
 * */
defineProps({
  accreditation: {
    required: true
  }
})
const modelValue = defineModel()

/*
 * States
 * ========================================================================================
 * */
const push = usePush()
const { onReveal, cancel, confirm, isRevealed, onCancel, onConfirm, reveal } = useConfirmDialog()

/*
 * Methods
 * ========================================================================================
 * */
</script>

<template>
  <TransitionRoot as="template" :show="modelValue">
    <Dialog as="div" class="relative z-50" @close="modelValue = false">
      <div class="fixed inset-0" />

      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
            <TransitionChild
              as="template"
              enter="transform transition ease-in-out duration-500 sm:duration-700"
              enter-from="translate-x-full"
              enter-to="translate-x-0"
              leave="transform transition ease-in-out duration-500 sm:duration-700"
              leave-from="translate-x-0"
              leave-to="translate-x-full"
            >
              <DialogPanel class="pointer-events-auto w-screen max-w-2xl">
                <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                  <div class="px-4 py-6 sm:px-6">
                    <div class="flex items-start justify-between">
                      <DialogTitle class="text-base font-semibold leading-6 text-gray-900">Data Akreditasi</DialogTitle>
                      <div class="ml-3 flex h-7 items-center">
                        <button type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500" @click="modelValue = false">
                          <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Main -->
                  <div class="divide-y divide-gray-200">
                    <div class="pb-6">
                      <div class="h-24 bg-indigo-700 sm:h-20 lg:h-28" />
                      <div class="lg:-mt-15 -mt-12 flow-root px-4 sm:-mt-8 sm:flex sm:items-end sm:px-6">
                        <div>
                          <div class="-m-1 flex">
                            <InstitutionLogo :institution-type="accreditation.institution" />
                          </div>
                        </div>
                        <div class="mt-8 sm:mt-12 sm:ml-6 sm:flex-1">
                          <div>
                            <div class="flex items-center space-x-4">
                              <h3 class="text-xl font-bold text-gray-900 sm:text-2xl flex-shrink">
                                {{ accreditation.unit.name }}
                              </h3>
                              <div>
                                <span v-if="accreditation.status === 'Tidak Aktif'" class="inline-flex items-center gap-x-1.5 rounded-md bg-red-100 px-2 py-1 text-xs font-medium text-red-700">
                                  <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
                                    <circle cx="3" cy="3" r="3" />
                                  </svg>
                                  {{ accreditation.status }}
                                </span>
                                <span v-else class="inline-flex items-center gap-x-1.5 rounded-md bg-green-100 px-2 py-1 text-xs font-medium text-green-700">
                                  <svg class="h-1.5 w-1.5 fill-green-500 animate-ping" viewBox="0 0 6 6" aria-hidden="true">
                                    <circle cx="3" cy="3" r="3" />
                                  </svg>
                                  {{ accreditation.status }}
                                </span>
                              </div>
                            </div>
                            <p class="text-xl text-gray-500">{{ accreditation.unit.degree }}</p>
                          </div>
                          <div class="mt-5 flex flex-wrap space-y-3 sm:space-x-3 sm:space-y-0">
                            <button
                              type="button"
                              class="inline-flex w-full flex-shrink-0 items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:flex-1"
                            >
                              <PaperClipIcon class="h-5 w-5 mr-2" />
                              Download SK
                            </button>
                            <button
                              type="button"
                              @click="reveal"
                              class="inline-flex w-full flex-1 items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            >
                              Ubah Status
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="px-4 py-5 sm:px-0 sm:py-0">
                      <dl class="space-y-8 sm:space-y-0 sm:divide-y sm:divide-gray-200">
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Nomor SK</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{ accreditation.sk_number }}
                          </dd>
                        </div>
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Hasil Akreditasi</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{ accreditation.grade }}
                          </dd>
                        </div>
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Masa Berlaku Akreditasi</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{
                              new Date(accreditation.validity_date).toLocaleDateString("id", {
                                day: "numeric",
                                month: "long",
                                year: "numeric"
                              })
                            }}
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
