<script setup>
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from "@headlessui/vue"
import { XMarkIcon } from "@heroicons/vue/24/outline"

/*
 * Props
 * ========================================================================================
 * */
defineProps({
  notification: {
    required: true
  }
})

/*
 * Macros
 * ========================================================================================
 * */
const modelValue = defineModel()
</script>

<template>
  <TransitionRoot as="template" :show="modelValue">
    <Dialog as="div" class="relative z-50" @close="modelValue = false">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />

      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
            <TransitionChild
              as="template"
              enter="transform transition ease-in-out duration-500 sm:duration-700"
              enter-from="translate-x-full"
              enter-to="translate-x-0"
              leave="transform transition ease-in-out duration-500 sm:duration-700"
              leave-from="translate-x-0"
              leave-to="translate-x-full"
            >
              <DialogPanel class="pointer-events-auto w-screen max-w-2xl">
                <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                  <div class="px-4 py-6 sm:px-6">
                    <div class="flex items-start justify-between">
                      <DialogTitle class="text-base font-semibold leading-6 text-gray-900"> Data Unit</DialogTitle>
                      <div class="ml-3 flex h-7 items-center">
                        <button type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500" @click="modelValue = false">
                          <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Main -->
                  <div class="divide-y divide-gray-200">
                    <div class="pb-6">
                      <div class="h-24 bg-indigo-700 sm:h-20 lg:h-28" />
                      <div class="lg:-mt-15 -mt-12 flow-root px-4 sm:-mt-8 sm:flex sm:items-end sm:px-6">
                        <div class="sm:flex-1">
                          <div>
                            <div class="flex items-center mt-12">
                              <h3 class="text-xl font-bold text-gray-900 sm:text-2xl">
                                {{ notification.accreditation.unit.name }}
                              </h3>
                            </div>
                            <p class="text-sm text-gray-500">{{ notification.accreditation.unit.degree }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="px-4 py-5 sm:px-0 sm:py-0">
                      <dl class="space-y-8 sm:space-y-0 sm:divide-y sm:divide-gray-200">
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Nomor SK</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{ notification.accreditation.sk_number }}
                          </dd>
                        </div>
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Tipe Notifikasi</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{ notification.type }}
                          </dd>
                        </div>
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Status Notifikasi</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{ notification.status }}
                          </dd>
                        </div>
                        <div class="sm:flex sm:px-6 sm:py-5">
                          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0 lg:w-48">Jadwal Pengiriman</dt>
                          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:ml-6 sm:mt-0">
                            {{
                              new Date(notification.due_date).toLocaleDateString("id-ID", {
                                year: "numeric",
                                month: "long",
                                day: "numeric"
                              })
                            }}
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
