<script setup>
import ApplicationLogoMark from "./Shared/ApplicationLogoMark.vue"
</script>

<template>
  <div>
    <div class="flex items-start gap-5">
      <ApplicationLogoMark class="h-10" />
      <div>
        <h3 class="text-sm font-semibold leading-6 text-gray-900">Hubungi Kami</h3>
        <p class="text-sm leading-6 text-gray-600">Universitas Widyatama, Jl. Cikutra Nomor 204 A Bandung Jawa Barat, Indonesia 40125</p>
        <p class="text-sm leading-6 text-gray-600">Gd. A (Rektorat) Lantai 2 Ruang Direktorat Penjaminan Mutu Widyatama</p>
      </div>
    </div>
    <p class="text-sm leading-5 text-gray-500 mt-5">&copy; 2023 PMW. All Rights Reserved.</p>
  </div>
</template>
