<script setup>
import InputText from "./Shared/InputText.vue"
import { useForm } from "@inertiajs/vue3"
import TextLink from "./Shared/TextLink.vue"
import InputCheckbox from "./Shared/InputCheckbox.vue"
import Label from "./Shared/Label.vue"
import { usePush } from "notivue"

/*
 * States
 * ========================================================================================
 * */
const form = useForm({
  email: "",
  password: "",
  remember: false
})
const push = usePush()

/*
 * Handlers
 * ========================================================================================
 * */
const handleLogin = () => {
  form.post(route("login"), {
    onError: (errors) => {
      push.error(errors.email)
    }
  })
}
</script>

<template>
  <form method="POST" class="space-y-3" @submit.prevent="handleLogin">
    <div>
      <Label for="email">Email</Label>
      <div class="mt-2">
        <InputText v-model="form.email" id="email" name="email" type="email" autocomplete="email" />
      </div>
    </div>

    <div>
      <Label for="password">Password</Label>
      <div class="mt-2">
        <InputText v-model="form.password" id="password" name="password" type="password" autocomplete="current-password" />
      </div>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <InputCheckbox v-model="form.remember" id="remember" name="remember" />
        <Label for="remember" class="ml-3">Ingat saya</Label>
      </div>

      <div class="text-sm leading-6">
        <TextLink href="#">Lupa password?</TextLink>
      </div>
    </div>

    <div>
      <button type="submit" class="btn-primary">Login</button>
    </div>
  </form>
</template>
