<script setup>
import Label from "./Shared/Label.vue"
import SelectInput from "./Shared/SelectInput.vue"
import InputText from "./Shared/InputText.vue"
import SlideoverForm from "./Shared/SlideoverForm.vue"
import { useForm } from "laravel-precognition-vue-inertia"
import { usePush } from "notivue"
import { useEnumsData } from "../Composables/useEnumsData.js"
import LabelError from "./Shared/LabelError.vue"
import vueFilePond, { setOptions } from "vue-filepond"
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js"
import "filepond/dist/filepond.min.css"
import { computed, ref, watch } from "vue"
import { usePage } from "@inertiajs/vue3"
import InputDate from "./Shared/InputDate.vue"

/*
 * Macros
 * ========================================================================================
 * */
const modelValue = defineModel()
const props = defineProps({
  inActiveUnit: {
    required: true,
    type: Array
  }
})

/*
 * States
 * ========================================================================================
 * */
const filepondFileInput = ref(null)
const page = usePage()
const csrf_token = computed(() => {
  return page.props.csrf_token
})
const push = usePush()
const { grades, institutions } = useEnumsData()
const form = useForm("post", route("modules.accreditations.live.store"), {
  unit_id: null,
  grade: null,
  institution: null,
  validity_date: null,
  sk_number: null,
  sk_accreditation: null
})

/*
 * Handlers
 * ========================================================================================
 * */
const handleSubmit = () => {
  form.submit({
    preserveScroll: true,
    onSuccess: () => {
      filepondFileInput.value.removeFiles()
      modelValue.value = false
      form.reset()
      push.success("Akrediatasi berhasil ditambahkan.")
    },
    onError: () => {
      modelValue.value = false
      push.error("Gagal menambahkan Akrediatasi terjadi kesalahan.")
    }
  })
}

/*
 * FilePond
 * ========================================================================================
 * */
const FilePond = vueFilePond(FilePondPluginFileValidateType)
const handleFilePondInit = () => {
  setOptions({
    credits: false,
    server: {
      url: "/filepond",
      headers: {
        "X-CSRF-TOKEN": csrf_token.value
      }
    }
  })
}

const handleFilePondFileProcess = (error, file) => {
  form.sk_accreditation = file.serverId
}

const handleFilePondFileRemove = (error, file) => {
  form.sk_accreditation = null
}

watch(
  () => form.sk_accreditation,
  () => {
    form.validate("file")
  }
)
</script>

<template>
  <SlideoverForm v-model="modelValue" @handle-submit="handleSubmit">
    <template #title>Form Pencatatan Akreditasi</template>
    <div class="space-y-3">
      <div>
        <Label for="unit_id">Nama Unit</Label>
        <SelectInput v-model="form.unit_id" @change="form.validate('unit_id')" class="mt-1" name="unit_id" id="unit_id">
          <option :value="unit.id" :id="unit.id" v-for="unit in inActiveUnit">{{ unit.name }} - {{ unit.degree }}</option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('unit_id')">
          {{ form.errors.unit_id }}
        </LabelError>
      </div>
      <div>
        <Label for="grade">Hasil Akreditasi</Label>
        <SelectInput v-model="form.grade" @change="form.validate('grade')" class="mt-1" name="grade" id="grade">
          <option :value="grade.name" :id="grade.id" v-for="grade in grades">{{ grade.name }}</option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('grade')">
          {{ form.errors.grade }}
        </LabelError>
      </div>
      <div>
        <Label for="institution">Lembaga Akreditasi</Label>
        <SelectInput v-model="form.institution" @change="form.validate('institution')" class="mt-1" name="institution" id="institution">
          <option :value="institution.name" :id="institution.id" v-for="institution in institutions">{{ institution.name }}</option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('institution')">
          {{ form.errors.institution }}
        </LabelError>
      </div>
      <div>
        <Label for="validity_date">Masa Berlaku</Label>
        <InputDate name="validity_date" id="validity_date" v-model="form.validity_date" @change="form.validate('validity_date')" />
        <LabelError class="mt-1" v-if="form.invalid('validity_date')">
          {{ form.errors.validity_date }}
        </LabelError>
      </div>
      <div>
        <Label for="sk_number">Nomor SK</Label>
        <InputText v-model="form.sk_number" @change="form.validate('sk_number')" type="text" class="mt-1" name="sk_number" id="sk_number" />
        <LabelError class="mt-1" v-if="form.invalid('sk_number')">
          {{ form.errors.sk_number }}
        </LabelError>
      </div>
      <div>
        <Label for="sk_accreditation">SK Akreditasi</Label>
        <FilePond
          name="file"
          ref="filepondFileInput"
          class-name="my-pond mt-1"
          accepted-file-types="application/pdf"
          @init="handleFilePondInit"
          @processfile="handleFilePondFileProcess"
          @removefile="handleFilePondFileRemove"
        />
        <LabelError class="mt-1" v-if="form.invalid('sk_accreditation')">
          {{ form.errors.sk_accreditation }}
        </LabelError>
      </div>
    </div>
    <template #button>Simpan</template>
  </SlideoverForm>
</template>
