<script setup>
import SlideoverForm from "./Shared/SlideoverForm.vue"
import { useForm } from "laravel-precognition-vue-inertia"
import { usePush } from "notivue"
import "filepond/dist/filepond.min.css"
import InputDate from "./Shared/InputDate.vue"
import Label from "./Shared/Label.vue"
import LabelError from "./Shared/LabelError.vue"

/*
 * Macros
 * ========================================================================================
 * */
const modelValue = defineModel()
/*
 * States
 * ========================================================================================
 * */
const push = usePush()
const form = useForm("post", route("modules.notifications.schedule.monev"), {
  due_date: null
})

/*
 * Handlers
 * ========================================================================================
 * */
const handleSubmit = () => {
  form.submit({
    preserveScroll: true,
    onSuccess: () => {
      modelValue.value = false
      form.reset()
      push.success("Jadwal Notifikasi Monev Data berhasil ditambahkan.")
    },
    onError: () => {
      modelValue.value = false
      push.error("Gagal menambahkan Notifikasi Monev Data terjadi kesalahan.")
    }
  })
}
</script>

<template>
  <SlideoverForm v-model="modelValue" @handle-submit="handleSubmit">
    <template #title>Jadwal Notifikasi Monev Data</template>
    <div class="space-y-3">
      <div>
        <Label for="due_date">Jadwal Pengiriman Notifikasi</Label>
        <InputDate v-model="form.due_date" @change="form.validate('due_date')" class="mt-1" id="due_date" name="due_date" />
        <LabelError class="mt-1" v-if="form.invalid('due_date')">
          {{ form.errors.due_date }}
        </LabelError>
      </div>
    </div>
    <template #button>Simpan</template>
  </SlideoverForm>
</template>
