<script setup>
import Label from "./Shared/Label.vue"
import SelectInput from "./Shared/SelectInput.vue"
import InputText from "./Shared/InputText.vue"
import SlideoverForm from "./Shared/SlideoverForm.vue"
import { useForm } from "laravel-precognition-vue-inertia"
import { usePush } from "notivue"
import { useEnumsData } from "../Composables/useEnumsData.js"
import TextArea from "./Shared/TextArea.vue"
import LabelError from "./Shared/LabelError.vue"
import vueFilePond, { setOptions } from "vue-filepond"
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js"
import "filepond/dist/filepond.min.css"
import { computed, ref, watch } from "vue"
import { usePage } from "@inertiajs/vue3"

/*
 * Macros
 * ========================================================================================
 * */
const modelValue = defineModel()
const props = defineProps({
  faculties: {
    type: Array,
    required: true
  }
})

/*
 * States
 * ========================================================================================
 * */
const filepondFileInput = ref(null)
const page = usePage()
const csrf_token = computed(() => {
  return page.props.csrf_token
})
const push = usePush()
const { degrees } = useEnumsData()
const form = useForm("post", route("modules.accreditations.unit.store"), {
  faculty_id: null,
  name: null,
  description: null,
  degree: null,
  email: null,
  sk_number: null,
  sk_unit: null
})

/*
 * Handlers
 * ========================================================================================
 * */
const handleSubmit = () => {
  form.submit({
    preserveScroll: true,
    onSuccess: () => {
      filepondFileInput.value.removeFiles()
      modelValue.value = false
      form.reset()
      push.success("Unit berhasil ditambahkan.")
    },
    onError: () => {
      modelValue.value = false
      push.error("Gagal menambahkan Unit terjadi kesalahan.")
    }
  })
}

/*
 * FilePond
 * ========================================================================================
 * */
const FilePond = vueFilePond(FilePondPluginFileValidateType)
const handleFilePondInit = () => {
  setOptions({
    credits: false,
    server: {
      url: "/filepond",
      headers: {
        "X-CSRF-TOKEN": csrf_token.value
      }
    }
  })
}

const handleFilePondFileProcess = (error, file) => {
  form.sk_unit = file.serverId
}

const handleFilePondFileRemove = (error, file) => {
  form.sk_unit = null
}

watch(
  () => form.sk_unit,
  () => {
    form.validate("file")
  }
)
</script>

<template>
  <SlideoverForm v-model="modelValue" @handle-submit="handleSubmit">
    <template #title>Form Unit Baru</template>
    <div class="space-y-3">
      <div>
        <Label for="faculty_id">Fakultas</Label>
        <SelectInput @change="form.validate('faculty_id')" v-model="form.faculty_id" class="mt-1" name="faculty_id" id="faculty_id">
          <option name="faculty_id" :value="faculty.id" :id="faculty.id" v-for="faculty in faculties">
            {{ faculty.name }}
          </option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('faculty_id')">
          {{ form.errors.faculty_id }}
        </LabelError>
      </div>
      <div>
        <Label for="name">Nama Unit</Label>
        <InputText v-model="form.name" @change="form.validate('name')" type="text" class="mt-1" name="name" id="name" />
        <LabelError class="mt-1" v-if="form.invalid('name')">
          {{ form.errors.name }}
        </LabelError>
      </div>
      <div>
        <Label for="degree">Jenjang</Label>
        <SelectInput v-model="form.degree" @change="form.validate('degree')" class="mt-1" name="degree" id="degree">
          <option name="degree" :value="degree.name" :id="degree.id" v-for="degree in degrees">
            {{ degree.name }}
          </option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('degree')">
          {{ form.errors.degree }}
        </LabelError>
      </div>
      <div>
        <Label for="email">Email Unit</Label>
        <InputText v-model="form.email" @change="form.validate('email')" type="email" class="mt-1" name="email" id="email" />
        <LabelError class="mt-1" v-if="form.invalid('email')">
          {{ form.errors.email }}
        </LabelError>
      </div>
      <div>
        <Label for="description">Keterangan</Label>
        <TextArea v-model="form.description" @change="form.validate('description')" class="mt-1" name="description" id="description" />
        <LabelError class="mt-1" v-if="form.invalid('description')">
          {{ form.errors.description }}
        </LabelError>
      </div>
      <div>
        <Label for="sk_number">Nomor SK</Label>
        <InputText v-model="form.sk_number" @change="form.validate('sk_number')" type="text" class="mt-1" name="sk_number" id="sk_number" />
        <LabelError class="mt-1" v-if="form.invalid('sk_number')">
          {{ form.errors.sk_number }}
        </LabelError>
      </div>
      <div>
        <Label for="sk_unit">SK Pendirian</Label>
        <FilePond
          name="file"
          ref="filepondFileInput"
          class-name="my-pond mt-1"
          accepted-file-types="application/pdf"
          @init="handleFilePondInit"
          @processfile="handleFilePondFileProcess"
          @removefile="handleFilePondFileRemove"
        />
        <LabelError class="mt-1" v-if="form.invalid('sk_unit')">
          {{ form.errors.sk_unit }}
        </LabelError>
      </div>
    </div>
    <template #button>Simpan</template>
  </SlideoverForm>
</template>
