<script setup>
import Label from "./Shared/Label.vue"
import SelectInput from "./Shared/SelectInput.vue"
import InputText from "./Shared/InputText.vue"
import SlideoverForm from "./Shared/SlideoverForm.vue"
import { useForm } from "laravel-precognition-vue-inertia"
import { useEnumsData } from "../Composables/useEnumsData.js"
import { usePush } from "notivue"
import TextArea from "./Shared/TextArea.vue"
import LabelError from "./Shared/LabelError.vue"

/*
 * Macros
 * ========================================================================================
 * */
const modelValue = defineModel()
const props = defineProps({
  faculties: {
    required: true,
    type: Array
  },
  unit: {
    type: Object,
    required: true
  }
})

/*
 * States
 * ========================================================================================
 * */
const push = usePush()
const form = useForm("put", route("modules.accreditations.unit.update", { unit: props.unit.id }), {
  faculty_id: props.unit.faculty.id,
  name: props.unit.name,
  description: props.unit.description,
  degree: props.unit.degree,
  email: props.unit.email
})
const { degrees } = useEnumsData()

/*
 * States
 * ========================================================================================
 * */
const handleSubmit = () => {
  form.submit({
    preserveScroll: true,
    onSuccess: () => {
      modelValue.value = false
      push.success("Data unit berhasil diperbarui.")
    },
    onError: () => {
      push.error("Data unit gagal diperbarui.")
    }
  })
}
</script>

<template>
  <SlideoverForm v-model="modelValue" @handle-submit="handleSubmit">
    <template #title>Perbarui Data Unit</template>
    <div class="space-y-3">
      <div>
        <Label for="faculty_id">Fakultas</Label>
        <SelectInput v-model="form.faculty_id" @change="form.validate('faculty_id')" class="mt-1" name="faculty_id" id="faculty_id">
          <option name="faculty_id" :value="faculty.id" :id="faculty.id" v-for="faculty in faculties">
            {{ faculty.name }}
          </option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('faculty_id')">
          {{ form.errors.faculty_id }}
        </LabelError>
      </div>
      <div>
        <Label for="name">Nama Unit</Label>
        <InputText v-model="form.name" @change="form.validate('name')" type="text" class="mt-1" name="name" id="name" />
        <LabelError class="mt-1" v-if="form.invalid('name')">
          {{ form.errors.name }}
        </LabelError>
      </div>
      <div>
        <Label for="degree">Jenjang</Label>
        <SelectInput v-model="form.degree" @change="form.validate('degree')" class="mt-1" name="degree" id="degree">
          <option name="degree" :value="degree.name" :id="degree.id" v-for="degree in degrees">
            {{ degree.name }}
          </option>
        </SelectInput>
        <LabelError class="mt-1" v-if="form.invalid('degree')">
          {{ form.errors.degree }}
        </LabelError>
      </div>
      <div>
        <Label for="email">Email Unit</Label>
        <InputText v-model="form.email" @change="form.validate('email')" type="email" class="mt-1" name="email" id="email" />
        <LabelError class="mt-1" v-if="form.invalid('email')">
          {{ form.errors.email }}
        </LabelError>
      </div>
      <div>
        <Label for="description">Keterangan</Label>
        <TextArea v-model="form.description" @change="form.validate('description')" class="mt-1" name="description" id="description" />
        <LabelError class="mt-1" v-if="form.invalid('description')">
          {{ form.errors.description }}
        </LabelError>
      </div>
    </div>
    <template #button>Simpan</template>
  </SlideoverForm>
</template>
