<script setup>
import { ArcElement, Chart as ChartJS, Colors, Legend, Tooltip } from "chart.js"
import { Doughnut } from "vue-chartjs"

ChartJS.register(ArcElement, Tooltip, Legend, Colors)

const props = defineProps({
  data: {
    required: true,
    type: Object
  }
})

const options = {
  responsive: true,
  maintainAspectRatio: false,
  plugins: {
    legend: {
      display: false
    }
  }
}
</script>

<template>
  <Doughnut :data="data" :options="options" />
</template>
