<script setup>
import ModuleLayout from "../../../Layouts/ModuleLayout.vue"
import RingkasanAkreditasi from "../../../Components/Chart/RingkasanAkreditasi.vue"

defineProps({
  tingkat_akreditasi: {
    required: true,
    type: Object
  },
  ringkasan_akreditasi: {
    required: true,
    type: Object
  },
  inactiveUnit: {
    required: true,
    type: Array
  }
})
</script>

<template>
  <ModuleLayout>
    <section>
      <Head>
        <title>Dashboard Akreditasi</title>
      </Head>
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-start gap-5 justify-start grid-flow-row-dense">
        <div class="row-span-1 border rounded-2xl transition-all duration-500 shadow hover:shadow-lg overflow-hidden">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Ringkasan Akreditasi</h3>
            <p class="mt-1 text-sm text-gray-500">Ringkasan Keadaan Seluruh Akreditasi Pada Sistem</p>
          </div>
          <div class="p-5">
            <RingkasanAkreditasi :data="ringkasan_akreditasi" />
          </div>
        </div>
        <div class="border rounded-2xl transition-all duration-500 shadow hover:shadow-lg overflow-hidden">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Tingkat Akreditasi</h3>
            <p class="mt-1 text-sm text-gray-500">Grafik Tingkat Akreditasi Berdasarkan Unit Akreditasi</p>
          </div>
          <div class="p-5">
            <RingkasanAkreditasi :data="tingkat_akreditasi" />
          </div>
        </div>
        <div class="border rounded-2xl transition-all duration-500 shadow hover:shadow-lg overflow-hidden">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Unit Tidak Terakreditasi</h3>
            <p class="mt-1 text-sm text-gray-500">Seluruh Unit Yang Telah Habis Masa Berlaku Akrediasinya</p>
          </div>
          <div class="px-5">
            <ul role="list" class="divide-y divide-gray-100">
              <li v-for="unit in inactiveUnit" :key="unit.id" class="flex gap-x-4 py-2">
                <div class="min-w-0">
                  <p class="text-sm font-semibold leading-6 text-gray-900">{{ unit.name }} - {{ unit.degree }}</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500" v-if="unit.accreditations.length > 0">
                    {{
                      new Date(unit.accreditations[0].validity_date).toLocaleDateString("id-ID", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                      })
                    }}
                  </p>
                  <p v-else class="mt-1 truncate text-xs leading-5 text-gray-500">Belum Terakreditasi</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </ModuleLayout>
</template>
