<script setup>
import ModuleLayout from "../../../../Layouts/ModuleLayout.vue"
import SearchBox from "../../../../Components/Shared/SearchBox.vue"
import { reactive, ref, watch } from "vue"
import { router } from "@inertiajs/vue3"
import SimplePagination from "../../../../Components/Shared/SimplePagination.vue"
import { usePush } from "notivue"
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue"
import { ChevronDownIcon, DocumentMagnifyingGlassIcon, EllipsisVerticalIcon, PencilSquareIcon, TrashIcon } from "@heroicons/vue/20/solid"
import { useFilters } from "../../../../Composables/useFilters.js"
import { useConfirmDialog } from "@vueuse/core"
import ConfirmationDelete from "../../../../Components/Shared/ConfirmationDelete.vue"
import DetailUnit from "../../../../Components/DetailUnit.vue"
import UnitCreateForm from "../../../../Components/UnitCreateForm.vue"
import UnitUpdateForm from "../../../../Components/UnitUpdateForm.vue"

/*
 * Props
 * ========================================================================================
 * */
const props = defineProps({
  units: {
    required: true,
    type: Object
  },
  filters: {
    required: true,
    type: Object
  },
  faculties: {
    required: true
  }
})

/*
 * States
 * ========================================================================================
 * */
const push = usePush()
const { filters: filter } = useFilters(props.filters, route("modules.accreditations.unit.index"))
const selectedData = ref()
const unitDialog = reactive({
  selectedRow: null,
  view: false,
  create: false,
  update: false
})
const { isRevealed, cancel, confirm, onConfirm, reveal, onReveal, onCancel } = useConfirmDialog()

/*
 * Handlers
 * ========================================================================================
 * */
onReveal((id) => (unitDialog.selectedRow = id))
onCancel(() => (unitDialog.selectedRow = null))
onConfirm(() => handleDeleteUnit(unitDialog.selectedRow))
const handleDeleteUnit = (id) => {
  router.delete(route("modules.accreditations.unit.destroy", { unit: id }), {
    preserveScroll: true,
    onSuccess: () => {
      push.success("Unit berhasil dihapus.")
    },
    onError: () => {
      push.error("Unit gagal dihapus karena terjadi kesalahan.")
    }
  })
}

/*
 * Watchers
 * ========================================================================================
 * */
watch(
  () => unitDialog.selectedRow,
  (id) => {
    selectedData.value = props.units.data.find((unit) => unit.id === id)
  }
)
</script>

<template>
  <ModuleLayout>
    <Head>
      <title>Seluruh Unit</title>
    </Head>
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Unit</h1>
        <p class="mt-2 text-sm text-gray-700">Seluruh unit yang ada pada sistem.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button
          @click="unitDialog.create = true"
          type="button"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Unit Baru
        </button>
      </div>
    </div>
    <div class="mt-8">
      <div class="max-w-sm mb-2">
        <SearchBox v-model="filter.search" />
      </div>
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  <button @click="filter.sort = 'faculty'" class="group inline-flex">
                    Fakultas
                    <span :class="[filter.sort === 'faculty' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'name'" class="group inline-flex">
                    Nama
                    <span :class="[filter.sort === 'name' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'email'" class="group inline-flex">
                    Email
                    <span :class="[filter.sort === 'email' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <button @click="filter.sort = 'status'" class="group inline-flex">
                    Status Akreditasi
                    <span :class="[filter.sort === 'status' ? 'bg-gray-100 text-gray-900' : 'invisible text-gray-400', 'ml-2 flex-none rounded group-hover:visible group-focus:visible']">
                      <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </button>
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-0"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr v-for="unit in units.data" :key="unit.email">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-0">
                  {{ unit.faculty.name }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-900">
                  {{ unit.name }} -
                  {{ unit.degree }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ unit.email }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span v-if="unit.status === 'Tidak Aktif'" class="inline-flex items-center gap-x-1.5 rounded-md bg-red-100 px-2 py-1 text-xs font-medium text-red-700">
                    <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
                      <circle cx="3" cy="3" r="3" />
                    </svg>
                    {{ unit.status }}
                  </span>
                  <span v-else class="inline-flex items-center gap-x-1.5 rounded-md bg-green-100 px-2 py-1 text-xs font-medium text-green-700">
                    <svg class="h-1.5 w-1.5 fill-green-500 animate-ping" viewBox="0 0 6 6" aria-hidden="true">
                      <circle cx="3" cy="3" r="3" />
                    </svg>
                    {{ unit.status }}
                  </span>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-0">
                  <Menu as="div" class="relative inline-block text-left">
                    <div>
                      <MenuButton class="flex items-center rounded-full bg-gray-100 text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
                        <EllipsisVerticalIcon class="h-6 w-6" aria-hidden="true" />
                      </MenuButton>
                    </div>

                    <transition
                      enter-active-class="transition ease-out duration-100"
                      enter-from-class="transform opacity-0 scale-95"
                      enter-to-class="transform opacity-100 scale-100"
                      leave-active-class="transition ease-in duration-75"
                      leave-from-class="transform opacity-100 scale-100"
                      leave-to-class="transform opacity-0 scale-95"
                    >
                      <MenuItems class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1">
                          <MenuItem v-slot="{ active }">
                            <button
                              @click="
                                () => {
                                  unitDialog.selectedRow = unit.id
                                  unitDialog.update = true
                                }
                              "
                              :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group flex items-center px-4 py-2 text-sm']"
                            >
                              <PencilSquareIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Perbarui Data
                            </button>
                          </MenuItem>
                          <MenuItem v-slot="{ active }">
                            <button
                              @click="
                                () => {
                                  unitDialog.selectedRow = unit.id
                                  unitDialog.view = true
                                }
                              "
                              :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group w-full flex items-center px-4 py-2 text-sm']"
                            >
                              <DocumentMagnifyingGlassIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Lihat
                            </button>
                          </MenuItem>
                          <MenuItem v-slot="{ active }">
                            <button @click="() => reveal(unit.id)" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'group w-full flex items-center px-4 py-2 text-sm']">
                              <TrashIcon class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                              Hapus
                            </button>
                          </MenuItem>
                        </div>
                      </MenuItems>
                    </transition>
                  </Menu>
                </td>
              </tr>
            </tbody>
          </table>
          <SimplePagination :prev="units.prev_page_url" :next="units.next_page_url" :total="units.total" :to="units.to" :from="units.from" />
        </div>
      </div>
    </div>
    <DetailUnit v-if="unitDialog.selectedRow" :unit="selectedData" v-model="unitDialog.view" />
    <UnitCreateForm :faculties="faculties" v-model="unitDialog.create" />
    <UnitUpdateForm v-if="unitDialog.update" :faculties="faculties" v-model="unitDialog.update" :unit="selectedData" />
    <Teleport to="body">
      <ConfirmationDelete :is-revealed="isRevealed" @cancel="cancel" @confirm="confirm">
        <template #title>Hapus Unit</template>
        <template #description> Apakah anda yakin ingin menghapus unit ini? Seluruh data yang berhubungan dengan unit ini akan ikut terhapus. Tindakan ini tidak dapat dikembalikan. </template>
      </ConfirmationDelete>
    </Teleport>
  </ModuleLayout>
</template>
