<script setup>
import ModuleLayout from "../../../Layouts/ModuleLayout.vue"

/*
 * Options
 * ========================================================================================
 * */
defineOptions({
  layout: ModuleLayout
})
</script>

<template>
  <section>
    <h1>Module Pengguna</h1>
  </section>
</template>
