<script setup>
import { HomeIcon } from "@heroicons/vue/20/solid"
import { Link, usePage } from "@inertiajs/vue3"
import { computed } from "vue"

const page = usePage()
const breadcrumbs = computed(() => {
  return page.props.breadcrumbs
})
</script>

<template>
  <nav class="flex" aria-label="Breadcrumb">
    <ol role="list" class="flex space-x-4 rounded-md bg-white px-6 shadow">
      <li class="flex">
        <div class="flex items-center">
          <Link :href="route('dashboard')" class="text-gray-400 hover:text-gray-500">
            <HomeIcon class="h-5 w-5 flex-shrink-0" aria-hidden="true" />
          </Link>
        </div>
      </li>
      <li v-for="breadcrumb in breadcrumbs" :key="breadcrumb.url" class="flex">
        <div class="flex items-center">
          <svg class="h-full w-6 flex-shrink-0 text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
          </svg>
          <Link :href="breadcrumb.url" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">{{ breadcrumb.title }}</Link>
        </div>
      </li>
    </ol>
  </nav>
</template>
