<script setup>
const modelValue = defineModel()
</script>

<template>
  <input v-model="modelValue" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
</template>
