<script setup>
import BANPT from "@images/banpt-logo.png"
import LAMDIK from "@images/lamdik.jpg"
import LAMEMBA from "@images/lamemba.png"
import LAMINFOKOM from "@images/laminfokom.png"
import LAMSAMA from "@images/lamsama.png"
import LAMTEKNIK from "@images/lamteknik.png"
import { computed } from "vue"

const props = defineProps({
  institutionType: {
    type: String,
    required: true
  }
})

const logo = computed(() => {
  switch (props.institutionType) {
    case "BAN-PT":
      return BANPT
    case "LAMDIK":
      return LAMDIK
    case "LAMEMBA":
      return LAMEMBA
    case "LAMINFOKOM":
      return LAMINFOKOM
    case "LAMSAMA":
      return LAMSAMA
    case "LAMTEKNIK":
      return LAMTEKNIK
    default:
      return BANPT
  }
})
</script>

<template>
  <div class="inline-flex overflow-hidden rounded-lg border-4 border-gray-200 bg-white p-5">
    <img class="h-24 w-24 flex-shrink-0 sm:h-24 sm:w-24 lg:h-36 lg:w-36" :src="logo" :alt="institutionType" />
  </div>
</template>
