<script setup>
import { CheckCircleIcon, ExclamationCircleIcon } from "@heroicons/vue/24/outline"
import { XMarkIcon } from "@heroicons/vue/20/solid"

/*
 * Props
 * ========================================================================================
 * */
defineProps({
  item: {
    required: true
  }
})
</script>

<template>
  <div class="max-w-full w-96">
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <CheckCircleIcon v-if="item.type === 'success'" class="h-6 w-6 text-green-400" aria-hidden="true" />
              <ExclamationCircleIcon v-if="item.type === 'error'" class="h-6 w-6 text-red-400" aria-hidden="true" />
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm text-gray-500">{{ item.message }}</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button type="button" @click="item.clear" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <XMarkIcon class="h-5 w-5" aria-hidden="true" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
