<script setup>
import { Link } from "@inertiajs/vue3"

defineProps({
  from: {
    required: true
  },
  to: {
    required: true
  },
  total: {
    required: true
  },
  next: {
    required: true
  },
  prev: {
    required: true
  }
})
</script>

<template>
  <nav class="flex items-center justify-between border-t border-gray-200 bg-white py-3" aria-label="Pagination">
    <div class="hidden sm:block">
      <p class="text-sm text-gray-700">
        Menampilkan
        {{ " " }}
        <span class="font-medium">{{ from }}</span>
        {{ " " }}
        -
        {{ " " }}
        <span class="font-medium">{{ to }}</span>
        {{ " " }}
        dari
        {{ " " }}
        <span class="font-medium">{{ total }}</span>
        {{ " " }}
        total hasil
      </p>
    </div>
    <div class="flex flex-1 justify-between sm:justify-end">
      <Link
        :href="prev"
        v-if="prev"
        class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0"
      >
        Sebelumnya
      </Link>
      <Link
        :href="next"
        v-if="next"
        class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0"
      >
        Selanjutnya
      </Link>
    </div>
  </nav>
</template>
