<script setup>
const modelValue = defineModel()
</script>

<template>
  <textarea
    rows="4"
    v-model="modelValue"
    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
  />
</template>
