<script setup>
import { Notivue, usePush } from "notivue"
import Notification from "../Components/Shared/Notification.vue"
import { onMounted } from "vue"
import { usePage } from "@inertiajs/vue3"

/*
 * Effects
 * ========================================================================================
 * */
onMounted(() => {
  const push = usePush()
  usePage().props.flash.success && push.success(usePage().props.flash.success)
  usePage().props.flash.info && push.info(usePage().props.flash.info)
  usePage().props.flash.error && push.error(usePage().props.flash.error)
})
</script>

<template>
  <main>
    <Teleport to="body">
      <Notivue v-slot="item">
        <Notification :item="item" />
      </Notivue>
    </Teleport>
    <section class="flex justify-center items-center h-screen">
      <slot />
    </section>
  </main>
</template>
