<script setup>
import { Notivue, usePush } from "notivue"
import Notification from "../Components/Shared/Notification.vue"
import { useNavigation } from "../Composables/useNavigation.js"
import SidebarModule from "./Partials/SidebarModule.vue"
import SidebarMobileModule from "./Partials/SidebarMobileModule.vue"
import NavbarModule from "./Partials/NavbarModule.vue"
import { onMounted } from "vue"
import { usePage } from "@inertiajs/vue3"
import Breadcrumbs from "../Components/Shared/Breadcrumbs.vue"

/*
 * States
 * ========================================================================================
 * */
const { sidebarOpen } = useNavigation()

/*
 * Effects
 * ========================================================================================
 * */
onMounted(() => {
  const push = usePush()
  usePage().props.flash.success && push.success(usePage().props.flash.success)
  usePage().props.flash.info && push.info(usePage().props.flash.info)
  usePage().props.flash.error && push.error(usePage().props.flash.error)
})
</script>

<template>
  <main>
    <Teleport to="body">
      <Notivue v-slot="item">
        <Notification :item="item" />
      </Notivue>
    </Teleport>
    <section>
      <SidebarMobileModule v-model="sidebarOpen" />
      <SidebarModule />

      <div class="lg:pl-72">
        <NavbarModule v-model="sidebarOpen" />

        <main>
          <div class="mx-auto px-4 sm:px-6 lg:px-8 py-5">
            <Breadcrumbs class="mb-5" />
            <slot />
          </div>
        </main>
      </div>
    </section>
  </main>
</template>
