<script setup>
import GuestLayout from "@/Layouts/GuestLayout.vue"
import MainHall from "@images/mainhall.jpg"
import TextLink from "@/Components/Shared/TextLink.vue"
import FormLogin from "@/Components/FormLogin.vue"
import ApplicationLogo from "@/Components/Shared/ApplicationLogo.vue"
import FooterLogin from "@/Components/FooterLogin.vue"
</script>

<template>
  <GuestLayout>
    <div class="flex min-h-screen flex-1">
      <Head>
        <title>Login</title>
      </Head>
      <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
          <div>
            <ApplicationLogo class="h-10 w-auto" />
            <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">Masuk ke dalam akun anda</h2>
            <p class="mt-2 text-sm leading-6 text-gray-500">
              <span>Tidak memiliki akun? </span>
              <TextLink href="#">hubungi admin.</TextLink>
            </p>
          </div>

          <div class="mt-10">
            <FormLogin />

            <FooterLogin class="max-w-sm w-full mt-10" />
          </div>
        </div>
      </div>
      <div class="relative hidden w-0 flex-1 lg:block">
        <img class="absolute inset-0 h-full w-full object-cover" :src="MainHall" alt="MainHall Widyatama" />
      </div>
    </div>
  </GuestLayout>
</template>
